<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Question</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        .mypainel {
            margin: 50px 0px 0px 0px;
        }

    .btnvote {
        float: right;
    }
    </style>
</head>
<body>

    <div class="container">
        <div class="panel panel-default mypainel" >
            <div class="panel-heading">{{question}} / {{question.pub_date}} <a href="{% url 'vote' question.id%}"><button type="button" class="btn btn-info btnvote" >Votar</button></a></div>
            <ul class="list-group">
                {% for choice in question.choices.all %}
                <il class="list-group-item"> {{choice}} </il>
                {% endfor %}
            </ul>
            <div><a href="{% url 'result' question.id%}"><button type="button" class="btn btn-info">Resultados</button></a><a href="{% url 'exibir' question.id %}"><button type="button" class="btn btn-default">Voltar</button></a></div>
        </div>
    </div>
</body>
</html>